.content {
	background: #222;
	position: relative;
	z-index: -2;
	margin: 0 auto;
	width: 930px;
}

.entry-content {
	width: 730px;
	margin: 0 auto;
}

@media screen and (max-width: 750px) {
	.content {
		overflow: hidden;
		width: 100%;
	}
	.entry-content {
		width: 100%;
	}
}

html {
	/* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
	font-family: "Anton", sans-serif;
	font-family: "New Tegomin", serif;
}

body {
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	background-color: #222;
	font-size: 1.3rem;
	margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.entry-content {


	h4,p {
		font-family: "Noto Sans JP", sans-serif;
		color: #fff;

	}
	p{
		font-size: 1.7rem;	
	}
	h4{
		font-size: 3.1rem;
	}
	h4::before {
		content: "";
		width: 5rem; /*画像の幅*/
		height: 5rem; /*画像の高さ*/
		display: inline-block;
		background: url("../images/175463_negate.png") no-repeat;
		background-size: contain;
		vertical-align: middle;
	}

	#mainvisual{
		img{
			width: 100%;
		}
	}

	@media screen and (max-width: 750px) {
		.text1 {
			font-size: 40px;
		}
		.text2 {
			font-size: 100px;
		}
		.text3 {
			font-size: 60px;
		}
	}
}
